#proform-container{
    color: rgb(250, 2, 56);
    max-width: 500px;
    background: rgba(10, 10, 10, 0.4);
    border-radius: 8px;
    padding: 30px;
    padding-bottom: 50px;
}
button{ margin-top: 20px;}

.btn.btn-primary {
    background: #fa0238 !important;
    border: 1px solid #fa0238 !important;
    color: #fff !important;
 }
    .btn.btn-primary:hover {
      border: 1px solid #91001f;
      background: transparent;
      color: #91001f; 
    }