<section class="userProjects">
    <div class="container" id="section-container">
        <h1>Proyectos</h1>
        <button type="button" class="btn btn-primary" routerLink="/nuevopro" *ngIf="isLogged">
            Nuevo proyecto
        </button>
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of pro">
                    <td>
                        <h2>{{Proyecto.nombrePro}}</h2>
                    </td>
                    <td>{{Proyecto.descripcionPro}}</td>
                    <td *ngIf="isLogged"><button class="modbtn" routerLink="/updatepro/{{Proyecto.id}}">Editar<i
                                class="fa-solid fa-square-pen"></i></button></td>
                    <td *ngIf="isLogged"><button class="modbtn" (click)="delete(Proyecto.id)">Eliminar<i
                                 class="fa-solid fa-circle-xmark"></i></button></td>
                </tr>
            </tbody>
        </table>

    </div>
</section>