<div class="container-sm" *ngIf="educacion" id="eduform-container">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Nombre de la institución educativa</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="educacion.nombreEdu" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu">Descripcion de la experiencia laboral</label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="educacion.descripcionEdu" required>
                </div>
                <button class="btn btn-primary">
                    Modificar ítem educación
                </button>
            </form>
        </div>
    </div>
</div>

