<section class="userEducation">

    <div class="container" id="section-container">
        <h1>Educación</h1>

        <ul class="institutions">
            <li>{{miPortfolio.education.school.type}}: {{miPortfolio.education.school.name}}<br>
                Titulo: {{miPortfolio.education.school.title}}<br>
                Años: {{miPortfolio.education.school.years}}<br>
                
            </li>
            <li>
                {{miPortfolio.education.unity.type}}: {{miPortfolio.education.unity.name}}<br>
                Certificado: {{miPortfolio.education.unity.certificate}}<br>
                Años: {{miPortfolio.education.unity.years}}<br> 
            </li>
            <li>
                {{miPortfolio.education.university.type}}: {{miPortfolio.education.university.name}}<br>
                Facultad: {{miPortfolio.education.university.department.name}}<br>
                Carrera: {{miPortfolio.education.university.department.career}}<br>
                Año de ingreso: {{miPortfolio.education.university.department.years}}<br>
            </li>
        </ul>
    </div>
</section>