<section class="userEducation">

    <div class="container">
        <h1>Educación</h1>
        <div class="container">
            <ul class="institutions">
                <li>
                    <div>
                        Educacion secundaria: Instituto Espiritu Santo<br>
                        Titulo: Bachiller en Economia y Administracion de empresas(2018)<br>
                    </div>
                    <div class="institution-img"></div>
                </li>
                <li>
                    <div>
                        Curso de programacion de videojuegos: Instituto de Formación Tecnológica<br>
                        Certificados: Programacion de videojuegos I(2017), Programacion de videojuegos II(2019)<br>
                        Formacion: Unity Engine, C#.<br>
                        <div class="institution-img"></div>
                    </div>

                </li>
                <li>
                    <div>Educacion superior:Universidad Nacional de Cordoba, Facultad de Ciencias Exactas,Fisicas y
                        Naturales
                        (ingreso 2019)<br>
                        Carrera: Ingenieria en Computacion
                    </div>
                    <div class="institution-img">

                    </div>
                </li>

            </ul>
        </div>

    </div>
</section>