#eduform-container{
    color: rgb(59, 45, 255);
    max-width: 500px;
    background: rgba(10, 10, 10, 0.4);
    border-radius: 8px;
    padding: 30px;
    padding-bottom: 50px;
}
button{
    
    margin-top: 20px;
    
}