<section>
    <div class="container" id="profile-container">
        <div class="profileimage-container">
            <img src= {{persona.img}} alt="profile" class="profileimage">
        </div>

        <div class="container">
            <h1>{{persona.nombre}} {{persona.apellido}}</h1>
            <ul>{{persona.job}}<br>
                {{persona.mainEdu}} <img [src]="miPortfolio.education.university.logo" class="otherlogos"><img [src]="miPortfolio.education.university.logo2" class="otherlogos"> <br>
                {{persona.location}} <img [src]="miPortfolio.profileinfo.location.flag" class="otherlogos"><br>

            </ul>
        </div>
    </div>
</section>
