<section>
    <div class="container" id="profile-container">
        <div class="profileimage-container">
        </div>
        <div class="container">
            <h1>{{miPortfolio.name}}</h1>
            <ul>{{miPortfolio.job}}<br>
                {{miPortfolio.education.university.name}} <img [src]="miPortfolio.education.university.logo"> <br>
                {{miPortfolio.education.university.department.name}} <img [src]="miPortfolio.education.university.department.logo"><br>
                {{miPortfolio.location.name}} <img [src]="miPortfolio.location.flag"><br>

            </ul>
        </div>
    </div>
</section>
