<header>
    <div class="container-xxl">
        <div id="logo">
            <div class="program-name"><p class="program-name">#YoProgramo</p></div>
        </div>
        <nav>
            <a href="https://github.com/AeroreHighwind" class="nav-link"><i class="fa-brands fa-github fa-xl"></i></a>
            <a href="https://www.linkedin.com/in/cesar-gaston-gallegos-949203230/" class="nav-link"><i class="fa-brands fa-linkedin fa-xl"></i></a>
            <a href="" class="nav-link"><i class="fa-solid fa-envelope fa-xl"></i></a>
           <button type="button" class="btn btn-primary" (click)="login()" *ngIf="!isLogged">Login</button>
           <button type="button" class="btn btn-primary" (click)="onLogOut()" *ngIf="isLogged">Logout</button>
        </nav>
    </div>
</header>