<section class="userExperience">
    <div class="container" id="section-container">
        <h1>Experiencia</h1>
        <button type="button" class="btn btn-primary" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva experiencia laboral
        </button>
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of exp">
                    <td>{{Experiencia.nombreE}}</td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td>EDITAR</td>
                    <td>ELIMINAR</td>
                </tr>
            </tbody>
        </table>

    </div>
</section>