<section class="userExperience">
    <div class="container" id="section-container">
        <h1>Experiencia</h1>
        <i class="fa-solid fa-circle-check"></i>  <i class="fa-solid fa-circle-xmark"></i> <button><i class="fa-solid fa-square-pen"></i></button>
        <ul class="projects">
            <li>
                Nombre del proyecto: {{miPortfolio.experience.project0.name}}<br>
                Descripción: {{miPortfolio.experience.project0.description}}<br>
                Conocimientos utilizados: {{miPortfolio.experience.project0.resources}}<br>
                Fecha de inicio: {{miPortfolio.experience.project0.startDate}}<br>
            </li>
        </ul>
    </div>
</section>