<section class="userSkills">
    <div class="container" id="section-container">

        <h1>Habilidades</h1>
            <button type="button" class="btn btn-primary" routerLink="/nuevahab" *ngIf="isLogged">
                Agregar habilidad
            </button>
        <h2>Hard-Skills</h2>
        <ul class="hard-skills">
            <li *ngFor="let Habilidad of habilidades">
              
              <div class="circle-container" *ngIf="Habilidad.hard">
                <div class="button-container" *ngIf="isLogged"> 
                  <button class="modbtn" routerLink="/updatehab/{{Habilidad.id}}" >Editar <i class="fa-solid fa-square-pen"></i></button>
                  <button class="modbtn" (click)="delete(Habilidad.id)">Eliminar<i class="fa-solid fa-circle-xmark"></i></button>
                </div>
              <circle-progress 
                [percent]=Habilidad.porcentaje
                [imageSrc]="Habilidad.imgURL"
                [showImage]="true"
                [imageWidth]="50"
                [imageHeight]="50"
              ></circle-progress>
              </div>    
            </li>
        </ul>

        <h2>Soft-Skills</h2>
<ul class="soft-skills">
  <li *ngFor="let Habilidad of habilidades">
              
    <div class="circle-container" *ngIf="!Habilidad.hard">
      <div class="button-container" *ngIf="isLogged"> 
        <button class="modbtn" routerLink="/updatehab/{{Habilidad.id}}" >Editar <i class="fa-solid fa-square-pen"></i></button>
        <button class="modbtn" (click)="delete(Habilidad.id)">Eliminar<i class="fa-solid fa-circle-xmark"></i></button>
      </div>
    <circle-progress 
      [percent]=Habilidad.porcentaje
      [imageSrc]="Habilidad.imgURL"
      [showImage]="true"
      [imageWidth]="50"
      [imageHeight]="50"
    ></circle-progress>
    </div>
  </li>
</ul>
          
    </div>
</section>