<section class="userSkills">
    <div class="container" id="section-container">
        <h1>Habilidades</h1>
        <ul class="skills">
            <li>Html: {{miPortfolio.skills.html}}</li>
            <li>Css: {{miPortfolio.skills.css}}</li>
            <li>JS: {{miPortfolio.skills.js}}</li>
            <li>TS: {{miPortfolio.skills.ts}}</li>
            <li>Java: {{miPortfolio.skills.java}}</li>
            <li>C++: {{miPortfolio.skills.c0}}</li>
            <li>C#: {{miPortfolio.skills.c1}}</li>
            <li>SQL: {{miPortfolio.skills.sql}}</li>
            <li>Boostrap:{{miPortfolio.skills.boostrap}}</li>
            <li>Git: {{miPortfolio.skills.git}}</li>
            <li>Ingles: {{miPortfolio.skills.english}}</li>
        </ul>
    </div>
</section>