<app-header></app-header>

<body>

    <section class="aboutUser">
        <div class="container">
            <div class="description">
                <h1>Acerca de</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus placeat, rerum alias voluptatibus
                    quos
                    consequatur necessitatibus similique eum id odio quia quisquam ipsa eveniet nobis pariatur, esse ex
                    nihil. Repellat debitis consequuntur nihil esse nam ratione amet sit. Dolor accusamus natus quia at,
                    odit voluptatem aperiam labore nam? Expedita nostrum illum odit sit cupiditate amet saepe id
                    consequuntur dolorem veritatis optio reprehenderit, officiis ab, quis dolor temporibus. Et, ea
                    minima?
                </p>
            </div>
        </div>
    </section>
    <section class="userExperience">
        <div class="container">
            <h1>Experiencia</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores harum quas reiciendis reprehenderit
                dolorum culpa commodi, ratione voluptas quisquam adipisci iure exercitationem provident dolore unde
                tempore veritatis id esse repudiandae autem sequi ut omnis? Odio porro ut sed dolor at facere saepe
                labore quia explicabo, aut facilis ratione provident itaque illum dolores laborum repellendus neque ea
                in nobis numquam! Alias provident quia nam est quisquam perferendis omnis voluptates fugiat. Beatae
                officia quidem tempore consectetur maxime nobis magnam eligendi doloremque. Recusandae.</p>
        </div>
    </section>

    <section class="userEducation">

        <div class="container">
            <h1>Educación</h1>
            <div class="container">
                <ul class="institutions">
                    <li>
                        <div>
                            Educacion secundaria: Instituto Espiritu Santo<br>
                            Titulo: Bachiller en Economia y Administracion de empresas(2018)<br>
                        </div>
                        <div class="institution-img"></div>
                    </li>
                    <li>
                        <div>
                            Curso de programacion de videojuegos: Instituto de Formación Tecnológica<br>
                            Certificados: Programacion de videojuegos I(2017), Programacion de videojuegos II(2019)<br>
                            Formacion: Unity Engine, C#.<br>
                            <div class="institution-img"></div>
                        </div>

                    </li>
                    <li>
                        <div>Educacion superior:Universidad Nacional de Cordoba, Facultad de Ciencias Exactas,Fisicas y
                            Naturales
                            (ingreso 2019)<br>
                            Carrera: Ingenieria en Computacion
                        </div>
                        <div class="institution-img">

                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section>

    <section class="userSkills">
        <div class="container">
            <h1>Habilidades</h1>
            <div class="container">
                <div class="htmlLvl">Html Level</div>
                <div class="cssLvl"> Css level</div>
                <div class="javascriptLvl">JS level</div>
                <div class="javaLvl">level</div>
                <div class="angularLvl">level</div>
                <div class="englishLvl"></div>

            </div>
        </div>
    </section>


    <section class="userProjects">

        <div class="container">
            <h1>Proyectos</h1>
            <div class="project0">
                <ul>
                    <li>Nombre: Portfolio Arg Programa</li>
                    <li>Fecha:</li>
                    <li>Descripcion:Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda tenetur iste
                        modi blanditiis aliquam recusandae libero adipisci repudiandae, ipsam molestias doloremque
                        ad similique quisquam impedit cumque numquam? Impedit iure deleniti dolor inventore aliquid
                        sit similique sapiente nulla nesciunt architecto reiciendis corporis quam accusamus dolorum
                        enim ipsam animi molestiae, dicta voluptate.
                    </li>
                    <li>Link:</li>
                </ul>
            </div>
        </div>






    </section>
















</body>
