#form-container{
background: radial-gradient(circle, rgb(41, 41, 41) 85%, rgb(53, 53, 53) 100%);
color: rgb(2, 250, 113);
max-width: 640px;
border-radius: 20px;
border-color: #02fa71;
border-style: inset;
}

button{
    margin-top: 20px;
}
form{
    margin-top: 50px;
    margin: 0 auto;
    width: 20em;
    padding: 20px;
}

