<section class="aboutUser">
    <div class="container" id="section-container">
        <div class="description">
            <h1>Acerca de</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus placeat, rerum alias voluptatibus
                quos
                consequatur necessitatibus similique eum id odio quia quisquam ipsa eveniet nobis pariatur, esse ex
                nihil. Repellat debitis consequuntur nihil esse nam ratione amet sit. Dolor accusamus natus quia at,
                odit voluptatem aperiam labore nam? Expedita nostrum illum odit sit cupiditate amet saepe id
                consequuntur dolorem veritatis optio reprehenderit, officiis ab, quis dolor temporibus. Et, ea
                minima?
            </p>
        </div>
    </div>
</section>